<!DOCTYPE html>
<html>
  <head>
    <title>Idiomism</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="slogan col-md-auto">think outside the box</div>
      <div class="col"></div>
    </header>

    <div class="wrapper">
      <div class="content_border col-12">
        <div class="bg_link col-12">
          <a class="unsplash" href="https://unsplash.com/@serjosoza?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from sergio souza">
            <span style="display:inline-block;padding:2px 3px">
              <svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:black" viewBox="0 0 32 32">
              <title>unsplash-logo</title>
              <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
              </svg>
            </span>
            <span style="display:inline-block;padding:2px 3px">sergio souza</span>
          </a>
        </div>
        <div class="idiom col-12"><%= yield %></div>
        <%= link_to root_path do %>
          <div class="next_idiom col-6">
            next idiom
          </div>
        <% end %>
        <%= link_to root_path do %>
          <div class="logo col-6"></div>
        <% end %>
      </div> 
    </div>

    <footer>
      <div class="col"></div>
        <div class="interact  col-md-auto"><%= link_to 'add an IDIOM', new_idiom_path %> | <%= link_to 'LEARN about this site', '#' %></div>
    </footer>

    <div class="col-6 footer-blurb">
      designed + hacked by <a href="#">eskil tomozy</a><br/>want to build your own web app? <a href="https://online.bootcampspot.com">learn how to code here</a>
    </div>

  </body>
</html>
